@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-toastify/dist/ReactToastify.css";
@font-face {
  font-family: "B-Nazanin";
  src: local("B-Nazanin"), url(./assets/fonts/B-Nazanin.ttf) format("truetype");
}
.font-link {
  font-family: "B-Nazanin";
  font-weight: bold;
}
